/**
 * default.css
 * Default stylesheet.
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

body {
    background: white;
    width: 600px;
}

#footer {
    text-align: center;
}

.no-link-highlight {
    text-decoration: none;
}

.no-link-highlight img {
    border: none;
}
